 .u-section-1 {
  background-image: none;
  min-height: 470px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 30px;
  margin-bottom: 0;
  min-height: 440px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 34px 80px 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  width: 794px;
  margin: 41px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 30px;
  height: 238px;
  background-image: none;
  margin: -215px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 30px;
  height: 238px;
  background-image: none;
  margin: -238px 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 528px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 80px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 409px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 32px;
    margin-bottom: 32px;
    min-height: 346px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-shape-1 {
    width: 48px;
    left: -13px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-shape-2 {
    left: auto;
    right: 0;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 378px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 483px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1344px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -83px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1407px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 1334px;
  margin-top: 30px;
  margin-bottom: 0;
  object-position: 17.28% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1407px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 45px 28px;
}

.u-section-2 .u-text-1 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 85px 0 0;
}

.u-section-2 .u-list-1 {
  width: 552px;
  grid-template-rows: repeat(3, auto);
  margin: -12px auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1204px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-3 {
  padding: 50px 30px 0 0;
}

.u-section-2 .u-image-2 {
  width: 214px;
  height: 170px;
  margin: 3px 308px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -170px 0 0 251px;
}

.u-section-2 .u-text-3 {
  margin: 18px 0 0 251px;
}

.u-section-2 .u-container-layout-4 {
  padding: 50px 30px 0 0;
}

.u-section-2 .u-image-3 {
  width: 214px;
  height: 170px;
  margin: 3px 308px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: -170px 0 0 251px;
}

.u-section-2 .u-text-5 {
  margin: 18px 0 0 251px;
}

.u-section-2 .u-container-layout-5 {
  padding: 50px 30px 0 0;
}

.u-section-2 .u-image-4 {
  width: 214px;
  height: 170px;
  margin: 3px 308px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -170px 0 0 251px;
}

.u-section-2 .u-text-7 {
  margin: 18px 0 0 251px;
}

.u-section-2 .u-container-layout-6 {
  padding: 50px 30px 0 0;
}

.u-section-2 .u-image-5 {
  width: 214px;
  height: 170px;
  margin: 3px 308px 0 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: -170px 0 0 251px;
}

.u-section-2 .u-text-9 {
  margin: 18px 0 0 251px;
}

.u-section-2 .u-container-layout-7 {
  padding: 50px 30px 0 0;
}

.u-section-2 .u-image-6 {
  width: 214px;
  height: 170px;
  margin: 3px 308px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: -170px 0 0 251px;
}

.u-section-2 .u-text-11 {
  margin: 18px 0 0 251px;
}

.u-section-2 .u-container-layout-8 {
  padding: 50px 30px 0 0;
}

.u-section-2 .u-image-7 {
  width: 214px;
  height: 170px;
  margin: 3px 308px 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: -170px 0 0 251px;
}

.u-section-2 .u-text-13 {
  margin: 18px 0 0 251px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1614px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1647px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    height: 1597px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1647px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1495px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 184px;
    margin-top: 27px;
    margin-right: 244px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -184px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 240px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 184px;
    margin-top: 27px;
    margin-right: 244px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -184px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-left: 240px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 184px;
    margin-top: 27px;
    margin-right: 244px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -184px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 14px;
    margin-left: 240px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 184px;
    margin-top: 27px;
    margin-right: 244px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -184px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 14px;
    margin-left: 240px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 184px;
    margin-top: 27px;
    margin-right: 244px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -184px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 14px;
    margin-left: 240px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: 184px;
    margin-top: 27px;
    margin-right: 244px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -184px;
    margin-left: 240px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 14px;
    margin-left: 240px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1888px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -121px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-2 .u-image-1 {
    height: 689px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1632px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -53px;
    margin-right: 22px;
    margin-left: 38px;
  }

  .u-section-2 .u-list-1 {
    width: 660px;
    margin: -84px auto -73px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1799px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 323px;
    height: 254px;
    margin-top: 77px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -254px;
    margin-right: 19px;
    margin-left: 355px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 355px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 323px;
    height: 254px;
    margin-top: 77px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -254px;
    margin-right: 19px;
    margin-left: 355px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 355px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 323px;
    height: 254px;
    margin-top: 77px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -254px;
    margin-right: 19px;
    margin-left: 355px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: 355px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-5 {
    width: 323px;
    height: 254px;
    margin-top: 77px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -254px;
    margin-right: 19px;
    margin-left: 355px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 355px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-6 {
    width: 323px;
    height: 254px;
    margin-top: 77px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -254px;
    margin-right: 19px;
    margin-left: 355px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-left: 355px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 30px;
  }

  .u-section-2 .u-image-7 {
    width: 323px;
    height: 254px;
    margin-top: 77px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -254px;
    margin-right: 19px;
    margin-left: 355px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 20px;
    margin-left: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2660px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-2 .u-image-1 {
    height: 766px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 2070px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -549px;
    margin-right: 46px;
    margin-left: 14px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: -38px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2579px;
  }

  .u-section-2 .u-image-2 {
    height: 265px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 265px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 265px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    height: 265px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    height: 265px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    height: 265px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2349px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 57px;
    margin-bottom: 5px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-2 .u-image-1 {
    height: 538px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1847px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.5rem;
    margin-top: -495px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: -24px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2129px;
  }

  .u-section-2 .u-image-2 {
    height: 167px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 167px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 167px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 167px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 167px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    height: 167px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 335px;
}

.u-section-3 .u-group-1 {
  width: 411px;
  min-height: 233px;
  background-image: none;
  height: auto;
  margin: 14px auto 0 51px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-3 .u-group-2 {
  min-height: 51px;
  width: 175px;
  height: auto;
  background-image: none;
  margin: -28px auto 0 93px;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-3 .u-group-3 {
  width: 409px;
  min-height: 259px;
  background-image: none;
  height: auto;
  margin: -233px 88px 60px auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 20px 25px;
}

.u-section-3 .u-group-4 {
  min-height: 51px;
  width: 175px;
  height: auto;
  background-image: none;
  margin: -28px auto 0 93px;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  line-height: 2;
  font-size: 1rem;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 30px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    margin-right: 30px;
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-group-1 {
    margin-top: 19px;
    margin-left: auto;
  }

  .u-section-3 .u-group-3 {
    margin-top: 71px;
    margin-right: auto;
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 29px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-group-3 {
    min-height: 295px;
    margin-top: 61px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}